nav{
    background-color: rgb(138, 138, 138);
    overflow: hidden;
}

nav a{
    float: left;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    font-size: 25px;
}
  
nav a:hover{
    background-color: rgb(126, 29, 216);
    color: rgb(245, 245, 245);
}
  
nav a.active{
    background-color: rgb(126, 29, 216);
    color: rgb(0, 0, 0);
}

body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(204, 208, 252);
}

.quote{
    text-align: center;
}

p:not(body){
    font-family: Arial, Helvetica, sans-serif;
    color:rgba(218, 135, 26, 0.5);
    font-size: 100%;
    text-align: center;
    background-color: rgb(255, 255, 255);
    overflow:auto;
    border-style: solid;
    border-radius: 5px;
    margin: 5%;
    padding: 3%;
}

h1{
    color: rgb(7, 7, 201);
}

h2{
    color: rgb(41, 30, 92);

}

h3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.title{
    color:rgb(0, 0, 0);
    text-align: center;
}

a{
    color:rgb(0, 87, 87);
}

iframe{
    margin-left: 30%;

}

button{
    border-radius: 8px;
    background-color: #5ab3b6; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}