nav{
    background-color: rgb(138, 138, 138);
    overflow: hidden;
}

div{
    color:rgba(218, 26, 157, 0.5);
    font-size: 100%;
    text-align: center;
    background-color: rgb(255, 255, 255);
    overflow:auto;
    border-style: solid;
    border-radius: 25px;
    margin: 5%;
    padding: 3%;

}

nav a{
    float: left;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    font-size: 25px;
}
  
nav a:hover{
    background-color: rgb(126, 29, 216);
    color: rgb(245, 245, 245);
}
  
nav a.active{
    background-color: rgb(126, 29, 216);
    color: rgb(0, 0, 0);
}
body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(204, 208, 252);
}
 
img{
    display: block;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}
.quote{
    text-align: center;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(7, 7, 201);
    text-align: center;
}

h2{
    color: rgb(41, 30, 92);

}

h3{
    color:rgb(58, 58, 153);
}

.title{
    color:rgb(0, 0, 0);
}

a{
    color:rgb(0, 87, 87);
}
